body{
    background-color: beige
}
#text{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: xx-large;
}
#timeContainer{
    position: relative; 
    height: 30vw;
    width: 30vw;
    background: url(clock.gif) no-repeat;
    background-size: 100%;
    margin: auto;
    margin-top: 5vw;
    border-radius: 50%;
}
#hourHand,#minuteHand,#secondHand{
    position: absolute;
    transform-origin: bottom;
    border-radius: 10px;
}
#hourHand{
    width: 1.5%;
    top: 23%;
    height: 27%;
    left: 49.2%;
    background-color: black;
    opacity: 0.8;
   
    
}
#minuteHand{
    width: 1.1%;
    top: 17%;
    height: 32%;
    left: 49.3%;
    background-color: black;
    opacity: 0.8;
    
}

#secondHand{

    width: 0.5%;
    top: 14%;
    height: 35%;
    left: 49.7%;
    background-color: rgb(177, 58, 58);
    opacity: 0.8;
    
}

